node_modules
**/node_modules/**
.DS_Store
zip/
bin/strauss.phar
.idea
/.vscode/
bin/pup.phar
bin/wp-cli.phar
.pup-build
.pup-zip
/tests/codeception.env
# Remove this when fully transitioning to bun.
/bun.lock*
